## 0. Load imports

In [22]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [25]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,007408 2,7408.0,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,591661247,NaN
1,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,007502 1,7502.0,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,591661253,NaN
2,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,005802 5,5802.0,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,591661257,NaN
3,-77.030788,38.911874,16641,2020/01/28 05:14:39+00,MIDNIGHT,OTHERS,THEFT F/AUTO,1300 - 1399 BLOCK OF CORCORAN STREET NW,397330.0,138223.0,...,005001 2,5001.0,Precinct 16,38.911866,-77.030785,NaN,2020/01/28 05:14:58+00,2020/01/28 05:15:02+00,591661258,NaN
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,009811 1,9811.0,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,591667619,NaN

(27931, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27931 non-null  float64
 1   Y                     27931 non-null  float64
 2   CCN                   27931 non-null  int64
 3   REPORT_DAT            27931 non-null  object
 4   SHIFT                 27931 non-null  object
 5   METHOD                27931 non-null  object
 6   OFFENSE               27931 non-null  object
 7   BLOCK                 27931 non-null  object
 8   XBLOCK                27931 non-null  float64
 9   YBLOCK                27931 non-null  float64
 10  WARD                  27931 non-null  int64
 11  ANC                   27931 non-null  object
 12  DISTRICT              27902 non-null  float64
 13  PSA                   27896 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27931 non-null  object
 15  BLOCK_GROUP           27930 non-null  object
 16  CENSUS_TRACT          27930 non-null  float64
 17  VOTING_PRECINCT       27931 non-null  object
 18  LATITUDE              27931 non-null  float64
 19  LONGITUDE             27931 non-null  float64
 20  BID                   4658 non-null   object
 21  START_DATE            27931 non-null  object
 22  END_DATE              24850 non-null  object
 23  OBJECTID              27931 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

In [ ]:
#df.month is = df["month"]

#### Warm-up: Ways to add 100 to column X

In [ ]:
%%time

new_list= []
for x in df.X:
    new.list.append( x+100 )

new_list

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

In [59]:
offense_byward = df.groupby("WARD")
counted = offense_byward.OFFENSE.unique()
numberu = counted.apply(len)
numberu

WARD
1    9
2    9
3    8
4    8
5    9
6    9
7    9
8    9
Name: OFFENSE, dtype: int64

In [65]:
df.groupby("WARD")["OFFENSE"].nunique()

WARD
1    9
2    9
3    8
4    8
5    9
6    9
7    9
8    9
Name: OFFENSE, dtype: int64

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

In [ ]:
wardgroup = df.groupby("WARD").agg

In [77]:
offenses_summary = df.groupby('WARD').agg(
    unique_offense_count=('OFFENSE', 'nunique'),
    unique_offenses=('OFFENSE', lambda x: "; ".join(x.unique()))
).reset_index()
offenses_summary

,WARD,unique_offense_count,unique_offenses
0,1,9,THEFT F/AUTO; ROBBERY; THEFT/OTHER; ASSAULT W/...
1,2,9,THEFT F/AUTO; THEFT/OTHER; BURGLARY; ROBBERY; ...
2,3,8,THEFT F/AUTO; THEFT/OTHER; MOTOR VEHICLE THEFT...
3,4,8,THEFT/OTHER; THEFT F/AUTO; MOTOR VEHICLE THEFT...
4,5,9,THEFT/OTHER; THEFT F/AUTO; MOTOR VEHICLE THEFT...
5,6,9,THEFT/OTHER; ASSAULT W/DANGEROUS WEAPON; THEFT...
6,7,9,THEFT/OTHER; THEFT F/AUTO; MOTOR VEHICLE THEFT...
7,8,9,HOMICIDE; THEFT F/AUTO; THEFT/OTHER; MOTOR VEH...

In [89]:
for i, ddf in df.groupby("WARD"):
    break

In [101]:
", ".join( ddf["OFFENSE"].unique() )

'THEFT F/AUTO, ROBBERY, THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, MOTOR VEHICLE THEFT, BURGLARY, HOMICIDE, SEX ABUSE, ARSON'

In [147]:
def get_unique_offenses(x):
    y = x.unique()
    return ", ".join(y)

get_unique_offenses(ddf["OFFENSE"])

'THEFT F/AUTO, ROBBERY, THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, MOTOR VEHICLE THEFT, BURGLARY, HOMICIDE, SEX ABUSE, ARSON'

In [ ]:
offenses_summary = df.groupby('WARD').agg((
    {
        "OFFENSE": ["nunique", get_unique_offenses]

In [ ]:
FINISH THIS

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

In [117]:
result = df.groupby(["WARD", "SHIFT"]).agg(
    {"OFFENSE" : "max"})
result

                   OFFENSE
WARD SHIFT
1    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
2    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
3    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
4    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
5    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
6    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
7    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
8    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

In [39]:
df[["LATITUDE","LONGITUDE"]].apply(np.mean, axis = 0)

LATITUDE     38.907610
LONGITUDE   -77.007047
dtype: float64

## 2. Creating new columns/transforming their type

### Simple filtering

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

In [181]:
is_theft = df.OFFENSE.str.contains("THEFT")
is_theft_notmotor = (is_theft) & (~(df.OFFENSE.str.contains("MOTOR")))
print(df[is_theft_notmotor])

               X          Y       CCN              REPORT_DAT  SHIFT  METHOD  \
2     -77.023981  38.900345      5370  2020/01/17 02:39:05+00    NaN  OTHERS
3     -77.030788  38.911874     16641  2020/01/28 05:14:39+00    NaN  OTHERS
5     -77.068484  38.952702  20401813  2020/11/21 01:09:53+00    NaN  OTHERS
6     -76.986481  38.892798  20401856  2020/11/24 21:37:02+00    NaN  OTHERS
7     -76.987032  38.908598  20401861  2020/12/08 02:58:54+00    NaN  OTHERS
...          ...        ...       ...                     ...    ...     ...
27922 -77.019923  38.900346  20162583  2020/11/13 21:21:48+00    NaN  OTHERS
27923 -77.000579  38.898122  20163214  2020/11/15 02:07:07+00    NaN  OTHERS
27927 -77.056173  38.980102  20165984  2020/11/20 22:07:20+00    NaN  OTHERS
27929 -77.023466  38.911795  20166597  2020/11/22 01:02:20+00    NaN  OTHERS
27930 -76.948727  38.864537  20108439  2020/07/29 23:18:00+00    NaN  OTHERS

            OFFENSE                                        BLOCK    XBLOCK  \
2      THEFT F/AUTO             800 - 899 BLOCK OF 9TH STREET NW  397920.0
3      THEFT F/AUTO      1300 - 1399 BLOCK OF CORCORAN STREET NW  397330.0
5      THEFT F/AUTO   4800 - 4899 BLOCK OF CONNECTICUT AVENUE NW  394064.0
6       THEFT/OTHER          200 - 299 BLOCK OF WARREN STREET NE  401173.0
7       THEFT/OTHER           1600 - 1699 BLOCK OF 11TH PLACE NE  401125.0
...             ...                                          ...       ...
27922   THEFT/OTHER             800 - 899 BLOCK OF 6TH STREET NW  398272.0
27923  THEFT F/AUTO             600 - 699 BLOCK OF 4TH STREET NE  399950.0
27927  THEFT F/AUTO         6818  - 6899 BLOCK OF 32ND STREET NW  395133.0
27929  THEFT F/AUTO    800 - 899 BLOCK OF RHODE ISLAND AVENUE NW  397965.0
27930   THEFT/OTHER  3901 - 3998 BLOCK OF PENNSYLVANIA AVENUE SE  404450.0

         YBLOCK  ...   LATITUDE  LONGITUDE       BID              START_DATE  \
2      136943.0  ...  38.900337 -77.023979  DOWNTOWN  2020/01/11 02:48:51+00
3      138223.0  ...  38.911866 -77.030785       NaN  2020/01/28 05:14:58+00
5      142757.0  ...  38.952694 -77.068482       NaN  2020/11/16 13:00:00+00
6      136105.0  ...  38.892790 -76.986479       NaN  2020/10/16 17:30:00+00
7      137859.0  ...  38.908591 -76.987029       NaN  2020/12/08 01:06:00+00
...         ...  ...        ...        ...       ...                     ...
27922  136943.0  ...  38.900338 -77.019921  DOWNTOWN  2020/11/10 17:49:33+00
27923  136696.0  ...  38.898115 -77.000576       NaN  2020/11/14 22:00:35+00
27927  145798.0  ...  38.980095 -77.056171       NaN  2020/11/19 19:45:47+00
27929  138214.0  ...  38.911787 -77.023464       NaN  2020/11/20 22:00:35+00
27930  132969.0  ...  38.864529 -76.948725       NaN  2020/07/22 14:11:29+00

                     END_DATE   OBJECTID  OCTO_RECORD_ID is_theft  \
2      2020/01/17 02:48:54+00  591661257             NaN     True
3      2020/01/28 05:15:02+00  591661258             NaN     True
5      2020/11/17 21:00:00+00  591686191             NaN     True
6      2020/10/16 20:30:00+00  591686192             NaN     True
7      2020/12/08 01:18:00+00  591686193             NaN     True
...                       ...        ...             ...      ...
27922  2020/11/10 21:30:51+00  592213437             NaN     True
27923  2020/11/15 00:30:50+00  592213438             NaN     True
27927  2020/11/19 20:00:49+00  592213442             NaN     True
27929  2020/11/21 22:30:51+00  592213444             NaN     True
27930  2020/07/22 14:20:44+00  592213515             NaN     True

       offense_summary  OFFENSE_NOSP
2               OTHERS  THEFT_F/AUTO
3               OTHERS  THEFT_F/AUTO
5               OTHERS  THEFT_F/AUTO
6               OTHERS   THEFT/OTHER
7               OTHERS   THEFT/OTHER
...                ...           ...
27922           OTHERS   THEFT/OTHER
27923           OTHERS  THEFT_F/AUTO
27927           OTHERS  THEFT_F/AUTO
27929           OTHERS  THEFT_F/AUTO
27930           OTHERS   THEFT/OTHER

[19210 rows x 28 columns]

In [51]:
df['is_theft'] = df["OFFENSE"].str.contains("THEFT")
df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft
0,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,7408.0,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,591661247,NaN,False
1,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,7502.0,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,591661253,NaN,False
2,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,5802.0,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,591661257,NaN,True
3,-77.030788,38.911874,16641,2020/01/28 05:14:39+00,MIDNIGHT,OTHERS,THEFT F/AUTO,1300 - 1399 BLOCK OF CORCORAN STREET NW,397330.0,138223.0,...,5001.0,Precinct 16,38.911866,-77.030785,NaN,2020/01/28 05:14:58+00,2020/01/28 05:15:02+00,591661258,NaN,True
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,9811.0,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,591667619,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27926,-76.975874,38.898804,20164210,2020/11/17 04:56:08+00,MIDNIGHT,GUN,ASSAULT W/DANGEROUS WEAPON,1900 - 1999 BLOCK OF BENNING ROAD NE,402093.0,136772.0,...,7903.0,Precinct 80,38.898797,-76.975872,NaN,2020/11/17 03:15:19+00,2020/11/17 03:22:54+00,592213441,NaN,False
27927,-77.056173,38.980102,20165984,2020/11/20 22:07:20+00,EVENING,OTHERS,THEFT F/AUTO,6818 - 6899 BLOCK OF 32ND STREET NW,395133.0,145798.0,...,1500.0,Precinct 51,38.980095,-77.056171,NaN,2020/11/19 19:45:47+00,2020/11/19 20:00:49+00,592213442,NaN,True
27928,-77.030278,38.959771,20166277,2020/11/21 08:35:50+00,MIDNIGHT,OTHERS,MOTOR VEHICLE THEFT,5729 - 5799 BLOCK OF COLORADO AVENUE NW,397376.0,143540.0,...,2001.0,Precinct 53,38.959763,-77.030275,NaN,2020/11/21 06:06:45+00,NaN,592213443,NaN,True
27929,-77.023466,38.911795,20166597,2020/11/22 01:02:20+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF RHODE ISLAND AVENUE NW,397965.0,138214.0,...,4901.0,Precinct 21,38.911787,-77.023464,NaN,2020/11/20 22:00:35+00,2020/11/21 22:30:51+00,592213444,NaN,True
27930,-76.948727,38.864537,20108439,2020/07/29 23:18:00+00,EVENING,OTHERS,THEFT/OTHER,3901 - 3998 BLOCK OF PENNSYLVANIA AVENUE SE,404450.0,132969.0,...,7603.0,Precinct 110,38.864529,-76.948725,NaN,2020/07/22 14:11:29+00,2020/07/22 14:20:44+00,592213515,NaN,True

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

In [125]:
df["offense_summary"] = df["OFFENSE"].str.contains["THEFT"].name.str.replace("GUN", "VIOLENT THEFT").name.str.replace("KNIFE", "VIOLENT THREAT")

SyntaxError: unterminated string literal (detected at line 1) (3058436298.py, line 1)

In [191]:
summaries = ['violent theft', 'violent other']
conditions = [
    df.METHOD.isin(['GUN', 'KNIFE']) & (df.is_theft),
    df.METHOD.isin(['GUN', 'KNIFE'])
]
df['offense_summaries'] = np.select(conditions, summaries, default = 'non-violent')

In [189]:
conditions = [
    (df['is_theft']) & (df['METHOD'].isin(['GUN', 'KNIFE'])),  # Theft with gun or knife
    (~df['is_theft']) & (df['METHOD'].isin(['GUN', 'KNIFE'])),  # Non-theft with gun or knife
]
choices = ['violent theft', 'violent other']
df['offense_summary'] = np.select(conditions, choices, default='non-violent')
df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,offense_summary,OFFENSE_NOSP
0,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,NaN,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,591661247,NaN,False,non-violent,HOMICIDE
1,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,NaN,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,591661253,NaN,False,violent other,HOMICIDE
2,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,NaN,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,591661257,NaN,True,non-violent,THEFT_F/AUTO
3,-77.030788,38.911874,16641,2020/01/28 05:14:39+00,NaN,OTHERS,THEFT F/AUTO,1300 - 1399 BLOCK OF CORCORAN STREET NW,397330.0,138223.0,...,38.911866,-77.030785,NaN,2020/01/28 05:14:58+00,2020/01/28 05:15:02+00,591661258,NaN,True,non-violent,THEFT_F/AUTO
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,NaN,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,591667619,NaN,False,non-violent,HOMICIDE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27926,-76.975874,38.898804,20164210,2020/11/17 04:56:08+00,NaN,GUN,ASSAULT W/DANGEROUS WEAPON,1900 - 1999 BLOCK OF BENNING ROAD NE,402093.0,136772.0,...,38.898797,-76.975872,NaN,2020/11/17 03:15:19+00,2020/11/17 03:22:54+00,592213441,NaN,False,violent other,ASSAULT_W/DANGEROUS_WEAPON
27927,-77.056173,38.980102,20165984,2020/11/20 22:07:20+00,NaN,OTHERS,THEFT F/AUTO,6818 - 6899 BLOCK OF 32ND STREET NW,395133.0,145798.0,...,38.980095,-77.056171,NaN,2020/11/19 19:45:47+00,2020/11/19 20:00:49+00,592213442,NaN,True,non-violent,THEFT_F/AUTO
27928,-77.030278,38.959771,20166277,2020/11/21 08:35:50+00,NaN,OTHERS,MOTOR VEHICLE THEFT,5729 - 5799 BLOCK OF COLORADO AVENUE NW,397376.0,143540.0,...,38.959763,-77.030275,NaN,2020/11/21 06:06:45+00,NaN,592213443,NaN,True,non-violent,MOTOR_VEHICLE_THEFT
27929,-77.023466,38.911795,20166597,2020/11/22 01:02:20+00,NaN,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF RHODE ISLAND AVENUE NW,397965.0,138214.0,...,38.911787,-77.023464,NaN,2020/11/20 22:00:35+00,2020/11/21 22:30:51+00,592213444,NaN,True,non-violent,THEFT_F/AUTO
27930,-76.948727,38.864537,20108439,2020/07/29 23:18:00+00,NaN,OTHERS,THEFT/OTHER,3901 - 3998 BLOCK OF PENNSYLVANIA AVENUE SE,404450.0,132969.0,...,38.864529,-76.948725,NaN,2020/07/22 14:11:29+00,2020/07/22 14:20:44+00,592213515,NaN,True,non-violent,THEFT/OTHER

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

In [ ]:
df.SHIFT = np.where(df["SHIFT"].str.contains("MIDNIGHT") | df["SHIFT"].str.contains("EVENING"), "nighttime", "daytime")
df.SHIFT

In [ ]:
df.SHIFT.apply(lambda x: conversion_dict  FINISH

In [193]:
# to see your vals in the SHIFT column:
df.SHIFT.unique()
map_from = ["MIDNIGHT", "EVENING", "DAY"]
map_to = ["nighttime", "nighttime", "daytime"]
conversion_dict = dict(zip(map_from, map_to))
df.SHIFT.map(conversion_dict)
# if u wanna actually recode your df column:
df["SHIFT"] = df.SHIFT.map(conversion_dict)
df.SHIFT

array([nan])

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
27926    NaN
27927    NaN
27928    NaN
27929    NaN
27930    NaN
Name: SHIFT, Length: 27931, dtype: object

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
27926    NaN
27927    NaN
27928    NaN
27929    NaN
27930    NaN
Name: SHIFT, Length: 27931, dtype: object

In [179]:
df["SHIFT"] = df["SHIFT"].str.replace("MIDNIGHT", "nighttime").str.replace("EVENING", "nighttime")
df["SHIFT"] = df["SHIFT"].str.replace(("nighttime" == False), "daytime")
print(df["SHIFT"])

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
27926   NaN
27927   NaN
27928   NaN
27929   NaN
27930   NaN
Name: SHIFT, Length: 27931, dtype: float64

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

In [197]:
df["OFFENSE_NOSP"] = df["OFFENSE"].str.replace(" ", "_")
print(df["OFFENSE_NOSP"])

0                          HOMICIDE
1                          HOMICIDE
2                      THEFT_F/AUTO
3                      THEFT_F/AUTO
4                          HOMICIDE
                    ...
27926    ASSAULT_W/DANGEROUS_WEAPON
27927                  THEFT_F/AUTO
27928           MOTOR_VEHICLE_THEFT
27929                  THEFT_F/AUTO
27930                   THEFT/OTHER
Name: OFFENSE_NOSP, Length: 27931, dtype: object

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [209]:
df.START_DATE.dtype

dtype('O')

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

In [213]:
df.START_DATE_CLEAN = pd.to_datetime(df.START_DATE)
df.START_DATE_CLEAN

0       2010-10-10 02:00:00+00:00
1       2010-09-02 04:00:00+00:00
2       2020-01-11 02:48:51+00:00
3       2020-01-28 05:14:58+00:00
4       2018-03-26 08:40:06+00:00
                   ...
27926   2020-11-17 03:15:19+00:00
27927   2020-11-19 19:45:47+00:00
27928   2020-11-21 06:06:45+00:00
27929   2020-11-20 22:00:35+00:00
27930   2020-07-22 14:11:29+00:00
Name: START_DATE, Length: 27931, dtype: datetime64[ns, UTC]

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

In [217]:
print(df.START_DATE_CLEAN.min())
print(df.START_DATE_CLEAN.max())

print(df.START_DATE.min())
print(df.START_DATE.max())

1940-02-17 00:00:16+00:00
2021-01-01 02:30:21+00:00
1940/02/17 00:00:16+00
2021/01/01 02:30:21+00

In [219]:
df.START_DATE_CLEAN.min(), df.START_DATE_CLEAN.max()
df.START_DATE.min(), df.START_DATE.max()

(Timestamp('1940-02-17 00:00:16+0000', tz='UTC'),
 Timestamp('2021-01-01 02:30:21+0000', tz='UTC'))

('1940/02/17 00:00:16+00', '2021/01/01 02:30:21+00')

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

In [229]:
courses = ["Math", "science", "english"]
newlist = [c for c in courses if "h" in c]
newlist

['Math', 'english']

In [231]:
df[df.is_theft & (df.WARD == 3)]

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,offense_summary,OFFENSE_NOSP,offense_summaries
5,-77.068484,38.952702,20401813,2020/11/21 01:09:53+00,daytime,OTHERS,THEFT F/AUTO,4800 - 4899 BLOCK OF CONNECTICUT AVENUE NW,394064.0,142757.0,...,-77.068482,NaN,2020/11/16 13:00:00+00,2020/11/17 21:00:00+00,591686191,NaN,True,non-violent,THEFT_F/AUTO,non-violent
16,-77.075315,38.964453,20052870,2020/03/30 23:32:52+00,daytime,OTHERS,THEFT/OTHER,5523 - 5599 BLOCK OF CONNECTICUT AVENUE NW,393473.0,144062.0,...,-77.075313,NaN,2020/03/30 21:05:03+00,2020/03/30 21:10:03+00,591686224,NaN,True,non-violent,THEFT/OTHER,non-violent
21,-77.063920,38.944876,20055959,2020/04/07 15:16:16+00,daytime,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.0,141888.0,...,-77.063918,NaN,2020/04/05 15:12:04+00,2020/04/05 15:28:19+00,591686229,NaN,True,non-violent,THEFT/OTHER,non-violent
37,-77.079947,38.948361,20180943,2020/12/22 16:51:52+00,daytime,OTHERS,THEFT/OTHER,4500 - 4537 BLOCK OF WISCONSIN AVENUE NW,393070.0,142276.0,...,-77.079945,NaN,2020/11/30 14:00:03+00,2020/12/03 02:00:05+00,591686430,NaN,True,non-violent,THEFT/OTHER,non-violent
47,-77.060457,38.942058,20184548,2020/12/30 22:46:54+00,daytime,OTHERS,MOTOR VEHICLE THEFT,2900 - 2999 BLOCK OF UPTON STREET NW,394759.0,141575.0,...,-77.060455,NaN,2020/12/28 13:00:42+00,2020/12/30 22:34:56+00,591686440,NaN,True,non-violent,MOTOR_VEHICLE_THEFT,non-violent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27795,-77.085607,38.954708,20117740,2020/08/18 06:06:51+00,daytime,OTHERS,THEFT F/AUTO,4312 - 4399 BLOCK OF FESSENDEN STREET NW,392580.0,142981.0,...,-77.085605,NaN,2020/08/02 00:48:39+00,2020/08/18 02:05:41+00,592212449,NaN,True,non-violent,THEFT_F/AUTO,non-violent
27805,-77.089857,38.930275,20125788,2020/09/03 14:09:04+00,daytime,OTHERS,MOTOR VEHICLE THEFT,4500 - 4599 BLOCK OF CATHEDRAL AVENUE NW,392209.0,140269.0,...,-77.089854,NaN,2020/09/02 16:00:43+00,2020/09/03 12:45:58+00,592212459,NaN,True,non-violent,MOTOR_VEHICLE_THEFT,non-violent
27879,-77.084553,38.961024,20106622,2020/07/26 08:16:58+00,daytime,OTHERS,MOTOR VEHICLE THEFT,4300 - 4399 BLOCK OF MILITARY ROAD NW,392672.0,143682.0,...,-77.084551,NaN,2020/07/26 06:10:28+00,2020/07/26 06:20:47+00,592213297,NaN,True,non-violent,MOTOR_VEHICLE_THEFT,non-violent
27886,-77.077055,38.919933,20096198,2020/07/03 08:34:17+00,daytime,OTHERS,THEFT/OTHER,2200 - 2399 BLOCK OF 39TH STREET NW,393318.0,139120.0,...,-77.077053,NaN,2020/06/30 20:00:25+00,2020/06/30 20:30:28+00,592213306,NaN,True,non-violent,THEFT/OTHER,non-violent
27909,-77.081195,38.930290,20146613,2020/10/14 00:41:25+00,daytime,OTHERS,THEFT/OTHER,4000 - 4299 BLOCK OF CATHEDRAL AVENUE NW,392960.0,140270.0,...,-77.081193,NaN,2020/10/08 00:00:08+00,2020/10/08 11:30:11+00,592213383,NaN,True,non-violent,THEFT/OTHER,non-violent

In [167]:
df["3theft"] = df[(df["is_theft"]) & (df["WARD"] == '3')]

ValueError: Cannot set a DataFrame with multiple columns to the single column 3theft

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

In [173]:
df[['START_DATE', 'END_DATE']].head()

               START_DATE                END_DATE
0  2010/10/10 02:00:00+00                     NaN
1  2010/09/02 04:00:00+00  2010/09/02 04:00:00+00
2  2020/01/11 02:48:51+00  2020/01/17 02:48:54+00
3  2020/01/28 05:14:58+00  2020/01/28 05:15:02+00
4  2018/03/26 08:40:06+00  2018/03/26 10:04:44+00

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

In [233]:
datecol = [c for c in df.columns if "DATE" in c]
df[datecol].head()
#if updated would also include STAR_DATE_CLEAN

               START_DATE                END_DATE
0  2010/10/10 02:00:00+00                     NaN
1  2010/09/02 04:00:00+00  2010/09/02 04:00:00+00
2  2020/01/11 02:48:51+00  2020/01/17 02:48:54+00
3  2020/01/28 05:14:58+00  2020/01/28 05:15:02+00
4  2018/03/26 08:40:06+00  2018/03/26 10:04:44+00

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows

In [235]:
df[ (df.START_DATE_CLEAN < "05-01-2020") & (df.WARD==1) ] [["WARD", "START_DATE"]]

       WARD              START_DATE
11        1  2020/03/14 13:00:05+00
20        1  2020/04/06 16:59:20+00
22        1  2020/04/07 19:58:07+00
78        1  2020/02/23 18:15:03+00
106       1  2020/02/25 15:49:51+00
...     ...                     ...
27587     1  2020/03/16 21:00:44+00
27588     1  2020/03/18 12:00:27+00
27596     1  2020/02/01 07:33:50+00
27614     1  2020/04/14 16:51:34+00
27741     1  2020/04/08 01:15:56+00

[1148 rows x 2 columns]